body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 253, 251);
}

u {
    line-height: 1.8em;
    background-color: lemonchiffon;
    color: darkred;
    font-size: 1em;
    text-decoration: none;
}

i {
    line-height: 1.2em;
    color:gray;
    font-size: 0.7em;
    text-decoration: none;
}



.arabic-title {
    font-family: 'AmiriBold';
    font-size: 1.6em;
    font-weight: bold;
    color: brown;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 0.5em;
}

.arabic-subtitle {
    font-family: 'AmiriRegular';
    font-size: 1.4em;
    color: blue;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 1em;
}

.arabic-text {
    font-family: 'UthmanTahaNaskh';
    line-height: 1.8em;
    font-size: 1.4em;
    direction: rtl;
    text-align: justify;
    font-stretch: expanded;
}

.eng-text {
    font-family: "Arial";
    line-height: 1.2 em;
    font-size: 0.9em;
    color: rgb(92, 92, 92);
    direction: ltr;
    text-align: justify;
}

.eng-title {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 0.5em;
}

.media-source {
    font-size: 0.7em;
    line-height: 0.9em;
}

.index {
	font-family: 'Arial';
    font-size: 1em;
}

.story-index {
    font-family: 'KacstBook';
    font-size: 1.5em;
    color: brown;
    line-height: 1.2em;
    direction: rtl;	
    margin-bottom: 0.5em;

}

.story-index li {
	list-style-type: none;
}

.story-index li a {
	text-decoration : none;
}


